.menu-item {
  display: flex;          
  align-items: center;    
  padding: 8px 12px;
  /* gap: 12px;               */
}
.harta-button {
  display: flex;
  align-items: center;
  gap: 8px; /* 🔥 kjo shton hapësirën */
}


.menu-item span {
  display: inline-block;  
  width: 150px;           
  flex-shrink: 0;
  padding-left: 4px;        
}
.menu-item {
  display: flex;          
  align-items: center;    
  /* padding: 8px 12px; */
}


