.left-menu {
  width: 10%;
  background-color: #1A355E;
  color: white;
  min-height: calc(100vh - 70px);
}
@media (max-width: 768px) {
  .left-menu {
    display: none;
  }

  .menu {
    display: none;
  }

  
  .main-layout .content {
    width: 100%;
  }
}