.kaldaja-description {
    background-color: #1A77CC;    
    max-width: 500px; 
    border-radius: 4px;     
    
}

.kaldaja-description-paragraph {
    color: white;           
    margin: 0;
    font-size: 12px;
    padding: 4px;
    text-wrap: wrap;
}

.kaldaja-description-paragraph span {
    display: block;        
        
}
