.uta {
  width: 200px;       
  height: 100px;    
  background-color: #1A77CC;  
       
  display: flex;
  justify-content: center;    
  align-items: center;
  cursor: pointer;        
}

.content-uta {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}