.uta-interface {
    background: #e0f7fa;
    border-radius: 8px;
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    color: black !important;
};


.uta-interface{
    padding:40px;
    font-family: Arial, Helvetica, sans-serif;
}

.uta-row.header {
    font-weight: 700; 
    color: white;
    border-radius: 8px;
}

.uta-row.header .uta-cell {
    text-align: center;
    padding: 8px;
}

.back-button {
    display: flex;
    align-items: center;
    padding: 10px 18px;
    background-color: red;  
    border-radius: 10px;
    font-size: 16px;
    font-weight: 20;
    color: #333;
    cursor: pointer;
    transition: all 0.25s ease;
}

.back-button:hover {
    background-color: #0077ff;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.back-button .back-icon svg {
    width: 20px;
    height: 20px;
    color: red;
    transition: color 0.25s ease;
}

.back-button:hover .back-icon svg {
    color: white;
}

