.kaldaja-description {
    background-color: #1A77CC;  
    width: 300px;
    height: 100px;  
    max-width: 500px;   
    margin-right: 6px;
    
}

.kaldaja-description-paragraph {
    color: white;           
    margin: 0;
    font-size: 12px;
    padding: 4px;
    text-wrap: wrap;
}

.kaldaja-description-paragraph span {
    display: block;        
        
}
