.menu-item {
  display: flex;          
  align-items: center;    
  gap: 12px;              
}
.home-button span{
  margin-right: 20px;
}  

.menu-item span {
  display: inline-block;  
  width: 100px;           
  flex-shrink: 0;        
}

.menu-item span {
  display: inline-block;  
  width: 100px;           
  flex-shrink: 0;         
}