.menu-item {

  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 8px;
  padding: 8px 14px;
  color: white;
  /* border-radius: 8px; */
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  width: 100%;
  margin: 3px;
}

.menu-item:hover {
  background: #3b82f6;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  color: white;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
}

.menu-item span {
  display: inline-block;
  width: 100px;
  flex-shrink: 0;
}