.menu-item {
  display: flex;          
  align-items: center;    
          
}
.dashboard-page{
  background-color: #E0F7FA;
  
}

.menu-item span {
  display: inline-block;  
  width: 100px;           
  flex-shrink: 0;         
}
.dashboard-page {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard-page h2 {
  font-size: 1.5rem;
  color: #1A355E;
  margin-bottom: 10px;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}